.login_input {
    display: flex;
    flex-direction: column;
    color: gray;
    padding: 2px;
    margin: 10px;
    margin-bottom: 5px;
}

.login_input>input {
    height: 1.5rem;
}

@media only screen and (max-width:767px) {
    .login_input>label {
        font-size: 13px;
    }

    .login_input>input {
        height: 1rem;
    }
}